@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  background-color: #282c34;
  color: white;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 1rem 2rem;
  border: 0.125rem solid rgba(0,0,0, 0.89);
  color: rgba(0,0,0, 0.89);
  background-color: white;
  font-size: 3rem;
  text-transform: lowercase;
  transition: 0.4s all ease-in-out;
  margin: 1rem
}

button:hover {
  cursor: pointer;
  opacity: 0.55
}

label {
  font-size: 3rem;
  color: rgba(0,0,0, 0.89);
  margin: 1rem
}

input {
  margin: 0 auto;
  height: 5rem;
  font-size: 3rem;
  max-width: 21rem
}